/srv/bot/mrwilson		--	gen_context(system_u:object_r:mrwilson_exec_t,s0)
/srv/bot(/.*)?      	gen_context(system_u:object_r:mrwilson_var_t,s0)
# using `--` as the second field means match files only, leaving empty means, match directories and files, -d means only directories
