[Unit]
Description=Mr Wilson daemon
After=network.target

[Service]
ExecStart=/srv/bot/mrwilson
Restart=always
RestartSec=10s
User=bot
Environment=RUNMODE=production

[Install]
WantedBy=multi-user.target
