{
  "HTTPPort": 1212,
  "WitAccessToken": "{{wit_access_token}}",
  "DBPath": "/srv/bot",
  "NexmoAPISecret":"{{nexmo_api_secret}}",
  "NexmoAPIKey":"{{nexmo_api_key}}",
  "NexmoFromNumber":"{{nexmo_from_number}}",
  "HostNames": ["api.mrwilson.one", "mrwilson.one", "www.mrwilson.one"],
  "LECacheFilePath": "/srv/bot",
  "LEEmail": "diego@fmpwizard.com",
  "TokenTo": "{{token_to}}"
}
